{{template "base" .}}

{{define "title"}}User Posts{{end}}

{{define "main"}}
   
    <div class="profile"> 
        <h3><a href='/user/profile'>Profile</a></h3>
        <h3><a href='/user/profile/posts'>Posts</a> </h3>   
        <h3><a href='/user/profile/comments'>Comments</a>  </h3>  
        <h3><a href='/user/profile/post/reactions'>Post reactions</a> </h3>   
        <h3><a href='/user/profile/comment/reactions'>Comment reactions</a> </h3>    
        <h3><a href='/user/profile/activity'>All activity</a></h3>
    </div>
    <br>
    <h1>Posts</h1>
    <br>
    {{if not .Posts}}
        <p>You haven't made any posts yet.</p>
    {{else}}
        <table>
            <tr>
                <th>Title</th>
                <th>Post Created</th>      
            </tr>
            {{range .Posts}}
                <tr>
                    <td>{{.Title}}</a></td>
                    <td>{{.CreatedAt | humanDate }}</td>
                </tr>
            {{end}}
        </table>
    {{end}}
    
{{end}}

